<div class="chat-container">
  
    <!-- Chat Messages -->
    <div class="messages">
      <div *ngFor="let chatElm of chatHistory">

        <div class="message user-message" *ngIf="isElmQuestion(chatElm)">
          <img src="assets/images/user.png" alt="User Icon" class="message-icon">
          <div class="message-content">{{ chatElm.getMessageContent() }}</div>
        </div>

        <div class="message bot-message" *ngIf="isElmAnswer(chatElm) || isElmRAGAnswer(chatElm)">
          <div class="message-content">
            <span *ngIf="chatElm.getMessageContent(); else loading">
              {{chatElm.getMessageContent()}}
            </span>
            <ng-template #loading>
              <div class="typing-dots">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </ng-template>
            <div class="actions">
              <button class="like-button" [disabled]="isWaitingForFeedbackResponse || chatElm.isFeedbackReceived || (isElmRAGAnswer(chatElm) && !chatElm.getMessageContent())" (click)="onLike(chatElm)">
                <i class="pi pi-thumbs-up"></i>
              </button>
              <button class="dislike-button" [disabled]="isWaitingForFeedbackResponse || chatElm.isFeedbackReceived || (isElmRAGAnswer(chatElm) && !chatElm.getMessageContent())" (click)="onDislike(chatElm)">
                <i class="pi pi-thumbs-down"></i>
              </button>
              <button class="more-button" (click)="onMore(chatElm)" [disabled]="isElmRAGAnswer(chatElm) && !chatElm.getMessageContent()">
                <i class="pi pi-info"></i>
              </button>
              <button class="rag-button" *ngIf="!isElmRAGAnswer(chatElm)"  [disabled]="isRAGButtonPressed(chatElm) || isWaitingForRAGResponse" (click)="onRAG(chatElm)">
                <i class="pi pi-angle-right"></i>
              </button>
            </div>
          </div>
          <img src="assets/images/bot.png" alt="Bot Icon" class="message-icon">
        </div>

      </div>
      <!-- Add more messages similarly -->
    </div>


  <!-- Chat Input -->
  <div class="input-container">
    <textarea #textareaElem [(ngModel)]="userQuestionText" class="chat-input" rows="1" placeholder="Ask a question..."
      (input)="adjustHeight($event)" (keydown.enter)="sendWithEnter($event)"></textarea>
    <button class="send-btn" (click)="onSendQuestion()" [disabled]="isWaitingForQuestionResponse">
      <img src="assets/images/send.png" alt="Send Icon" />
    </button>
  </div>

</div>


<!-- The dialog component -->
<p-dialog header="Details" [(visible)]="displayDialog" [modal]="true" [style]="{ width: '50vw' }">
  <div *ngIf="selectedAnswer">
    <!-- Regular Answer -->
    <div *ngIf="selectedAnswer.similarityScore"><strong>Confidence:</strong> {{ selectedAnswer.similarityScore | number:'1.0-2' }}</div>
    <div *ngIf="selectedAnswer.matchedQuestion"><strong>Matched Question:</strong> {{ selectedAnswer.matchedQuestion }}</div>
    
    <div *ngIf="selectedAnswer.source">
      <strong>Source:</strong> {{ selectedAnswer.source }}
    </div>
    <div *ngIf="selectedAnswer.page !== undefined">
      <strong>Page:</strong> {{ selectedAnswer.page }}
    </div>
    <div *ngIf="selectedAnswer.extra_questions">
      <strong>Similar Questions:</strong>
      <div *ngFor="let question of selectedAnswer.extra_questions.questions; let i=index">
        <span class="clickable-question" (click)="onSimilarQuestionClick(question)">[{{ selectedAnswer.extra_questions.similarities[i] | number:'1.2-2' }}] {{ question }}</span>
      </div>
    </div>
    <!-- RAG Answer -->
    <p *ngIf="selectedAnswer.sourcesAndPages"><strong>Utilized Sources for the Answer</strong></p>
    <div *ngIf="selectedAnswer.sourcesAndPages">
      <div *ngFor="let item of selectedAnswer.sourcesAndPages">
        <span><strong>Source:</strong> {{ item.source_name }} - <strong>Page:</strong> {{ item.page }}</span>
      </div>
    </div>
  </div>
  <!-- ...Add other fields similarly... -->
</p-dialog>